{% extends 'base.html' %}
{% load static %}



<!--? Preloader Start -->

<!-- Preloader Start -->
{% block content %}
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo_techno.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--? slider Area Start -->
    <div class="slider-area ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Sifatli
                                    elektronika,
                                    qulay hayot!</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Eng so‘nggi va
                                    sifatli elektronika
                                    mahsulotlari bizda! Sifatli gadjetlar va zamonaviy qurilmalar bilan
                                    hayotingizni osonlashtiring.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s"
                                     data-duration="2000ms">
                                    <a href="{% url 'main:industry' %}" class="btn hero-btn">Harid qilish</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'assets/img/gallery/t2_antena_q.png' %}" style="height: 550px; width: 630px; padding-right: 100px;" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center slide-bg">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Yangi
                                    Texnologiyani Tanlang</h1>
                                <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">Eng so‘nggi va
                                    sifatli elektronika
                                    mahsulotlari bizda! Sifatli gadjetlar va zamonaviy qurilmalar bilan
                                    hayotingizni osonlashtiring.</p>
                                <!-- Hero-btn -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s"
                                     data-duration="2000ms">
                                    <a href="{% url 'main:industry' %}" class="btn hero-btn">Harid qilish</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                            <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                <img src="{% static 'assets/img/gallery/t2_antena_q.png' %}" style="height: 550px; width: 630px; padding-right: 100px;" alt="" class=" heartbeat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- ? New Product Start -->
    <section class="new-product-area section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-tittle mb-70">
                        <h2>Yangi Mahsulotlar</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-pro mb-30 text-center">
                        <div class="product-img">
                            <img src="{% static 'assets/img/gallery/camera-high.webp' %}"
                                 style="height: 490px; width: 450px" alt="">
                        </div>
                        <div class="product-caption">
                            <h3><a href="product_details.html">Wifi Camera 4K</a></h3>
                            <span>$ 15.79</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-pro mb-30 text-center">
                        <div class="product-img">
                            <img src="{% static 'assets/img/gallery/hadn-fand.jpg' %}"
                                 style="height: 490px; width: 400px" alt="">
                        </div>
                        <div class="product-caption">
                            <h3><a href="product_details.html">Qo'l Ventilyatori</a></h3>
                            <span>$ 3.78</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-new-pro mb-30 text-center">
                        <div class="product-img">
                            <img src="{% static 'assets/img/gallery/wifi-camera.avif' %}"
                                 style="height: 490px; width: 420px" alt="">
                        </div>
                        <div class="product-caption">
                            <h3><a href="product_details.html">Shark Camera</a></h3>
                            <span>$ 20,45</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  New Product End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid p-0 fix">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img big-img"
                             style="background-image: url({% static 'assets/img/gallery/tv-v.jpg' %});"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img big-img"
                             style="background-image: url({% static 'assets/img/gallery/mini-camera_.jpg' %});"></div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <div class="gallery-img small-img"
                                     style="background-image: url({% static 'assets/img/gallery/lighter.jpg' %});"></div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12  col-md-6 col-sm-6">
                            <div class="single-gallery mb-30">
                                <div class="gallery-img small-img"
                                     style="background-image: url({% static 'assets/img/gallery/casio-watch.jpg' %});"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!--? Popular Items Start -->
    <div class="popular-items section-padding30">
        <div class="container">
            <!-- Section tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="section-tittle mb-70 text-center">
                        <h2>Popular Items</h2>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-popular-items mb-50 text-center">
                            <div class="popular-img">
                                {% if product.image %}
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="" style="height: 400px; width: 400px">
                                    {% else %}
                                        <h1>No Image</h1>
                                    {% endif %}
                                {% else %}
                                    <h1>NO Image</h1>
                                {% endif %}
                                <div class="img-cap">
                                    <span>Savatga qo'shish</span>
                                </div>
                                <div class="favorit-items">
                                    <span class="flaticon-heart"></span>
                                </div>
                            </div>
                            <div class="popular-caption">
                                <h3><a href="product_details.html">{{ product.title }}</a></h3>
                                <span>{{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Button -->
            <div class="row justify-content-center offset-3">
                <div class="room-btn pt-70">
                    <a href="{% url 'main:shop' %}" class="btn view-btn1">Ko'proq ko'rsatish</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Popular Items End -->
    <!--? Video Area Start -->
    <!--    -->
    <!-- Video Area End -->
    <!--? Watch Choice  Start-->
    <div class="watch-area section-padding30">
        <div class="container">
            <div class="row align-items-center justify-content-between padding-130">
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Innovatsion gadjetlar siz uchun!</h2>
                        <p>Eng so‘nggi smartfonlar, noutbuklar, aqlli soatlar va boshqa elektronika mahsulotlarini kashf
                            eting.
                            Sifatli va ishonchli texnologiyalarni hoziroq tanlang!</p>
                        <a href="shop.html" class="btn">Xarid qilish</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="../static/assets/img/gallery/choce_watch1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-10">
                    <div class="choice-watch-img mb-40">
                        <img src="../static/assets/img/gallery/choce_watch2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="watch-details mb-40">
                        <h2>Zamonaviy elektronika – qulay narxlar!</h2>
                        <p>Eng so‘nggi smartfonlar, noutbuklar, aqlli soatlar va boshqa elektronika mahsulotlarini kashf
                            eting.
                            Sifatli va ishonchli texnologiyalarni hoziroq tanlang!</p>
                        <a href="shop.html" class="btn">Xarid qilish</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Watch Choice  End-->
    <!--? Shop Method Start-->
{% endblock %}